<!DOCTYPE html>
<html>
<head>
    <title>My Menu</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f4f4;
            text-align: center;
            padding: 30px;
        }
        .item {
            background: white;
            padding: 15px;
            margin: 10px auto;
            max-width: 400px;
            border-radius: 10px;
        }
    </style>
</head>
<body>

<h1>🍔 My Restaurant Menu</h1>

<div class="item">Burger – ₹150</div>
<div class="item">Pizza – ₹250</div>
<div class="item">Pasta – ₹200</div>
<div class="item">Cold Drink – ₹50</div>

</body>
</html>
